  .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("/src/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .grp-name {
    width: 40vw;
    padding: 50px;
    font-size: 35px;
    font-weight: 700;
    color: #acacac;
    text-align: center;
  }

  .btn-group {
    width: 40vw;
    padding: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .btn {
    width: fit-content;
    padding: 1.25rem;
    background-color: transparent;
    /* border: 5px solid #dadada; */
    background-color: #d3d3d3;
    border-radius: 10px;
    color: #111;
    font-size: 25px;
    font-weight: 600;
  }

  .active {
    background-color: #111;
    color: #fff;
  }

  .hover-group {
    width: 40vw;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 40px;
  }

  .pos-box {
    width: 40%;
    padding: 2.5rem;
    outline: none;
    border: none;
    font-size: 25px;
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
    border-radius: 5px;
    background-color: rgba(213, 213, 213, 0.447);
  }

  .top {
    position: absolute;
    top: 0px;
    left: auto;
    background-color: black;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
  }

  .top::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid black;
    border-bottom: 20px solid transparent;
    left: 48%;
    bottom: -38px;
  }

  .left {
    position: absolute;
    left: -80px;
    top: auto;
    background-color: black;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
  }

  .left::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 30px solid black;
    border-right: 30px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -58px;
    top: 28%;
  }

  .right {
    position: absolute;
    right: -80px;
    top: auto;
    background-color: black;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
  }

  .right::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -58px;
    top: 28%;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: auto;
    background-color: black;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
  }

  .bottom::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid black;
    left: 48%;
    top: -38px;
  }